// $clr-primary: #ff5800;
// $clr-secondary: #f8f9fa;

$bg-orange: #ff5800;
$bg-black: #000;
$bg-white: #fff;
$bg-gray: #f8f9fa;
$bg-dark-gray: #eff1f4;
$bg-blue: #1a73e8;

$bg-body: #fff;
$bg-sidebar: #f8f9fa;
$bg-footer: #111;

$text-body: #000;
$text-white: #ffffff;
$text-black: #000;
$text-dark: #202124;
$text-gray: #5f6368;
$text-orange: #ff5800;
$text-blue: #1a73e8;
$text-footer: rgba(255, 255, 255, 0.7);

$border-gray: #dadce0;
