@use "../../styles/scss/abstracts/" as a;

.about {
  padding-block: calc(a.$height-navbar + 3rem);
  min-height: 100vh;

  &__title {
    text-transform: capitalize;
    text-align: center;
    font-weight: a.fw(medium);
    letter-spacing: a.ls(xx-small);
    padding-bottom: a.p(8);
    position: relative;

    &::after {
      content: "";
      height: a.px-rem(3);
      width: a.px-rem(30);
      background: a.$bg-orange;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    width: min(80vw, a.px-rem(550));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: a.g(medium);
    align-items: center;
    padding-block: 2rem;

    @include a.mq-up(425) {
      width: min(70vw, a.px-rem(550));
    }

    @include a.mq-up(medium) {
      width: min(75vw, a.px-rem(550));
    }
    @include a.mq-up(large) {
      width: min(75vw, a.px-rem(630));
    }
  }

  &__img {
    width: a.px-rem(200);
    height: a.px-rem(200);
    object-fit: contain;
    border-radius: 50%;
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: a.g(small);
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: a.fs(26);
    transition: all 300ms ease;

    &:hover {
      color: a.$bg-orange;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    p {
      font-size: a.fs(14);
      color: #333;
      text-align: center;
      line-height: 1.7;
      letter-spacing: a.ls(0.1);

      @include a.mq-up(medium) {
        font-size: a.fs(14);
      }
      @include a.mq-up(large) {
        font-size: a.fs(16);
      }
    }
  }
}
