@use "../../styles/scss/abstracts/" as a;

.about {
  padding-block: calc(a.$height-navbar + 3rem);
  min-height: calc(100vh - a.$height-footer);

  &__title {
    text-transform: capitalize;
    text-align: center;
    font-weight: a.fw(medium);
    letter-spacing: a.ls(xx-small);
    padding-bottom: a.p(14);
    margin-bottom: a.m(xx-large);
    position: relative;

    &::after {
      content: "";
      height: a.px-rem(3);
      width: a.px-rem(30);
      background: a.$bg-orange;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    width: min(90vw, a.px-rem(1024));
    margin-inline: auto;
    display: grid;
    row-gap: a.g(medium);
    justify-items: center;

    @include a.mq-up(medium) {
      grid-template-columns: auto 1fr;
      column-gap: a.g(large);
      align-items: center;
      row-gap: 0;
    }
  }

  &__img-wrapper {
    position: relative;
    width: a.px-rem(200);
    height: a.px-rem(200);
    transition: all 300ms ease;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000, 0.7);
    border-radius: 50%;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 300ms ease;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: a.g(base);
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: a.$text-white;
    font-size: a.fs(36);
    transition: all 300ms ease;

    &:hover {
      color: a.$bg-orange;
    }
  }

  &__info {
    background: a.$bg-gray;
  }

  &__info-text {
    font-size: a.fs(14);
    text-align: center;

    @include a.mq-up(medium) {
      text-align: left;
    }
  }
}
