@use "../../styles/scss/abstracts/" as a;

.projects {
  background: a.$bg-white;
  padding-block: calc(a.$height-navbar + 3rem);
  min-height: calc(100vh - a.$height-footer);

  &__title {
    text-transform: capitalize;
    font-weight: a.fw(medium);
    text-align: center;
    color: a.$text-dark;
    letter-spacing: a.ls(xx-small);
    padding-bottom: a.p(12);
    position: relative;

    &::after {
      content: "";
      height: a.px-rem(3);
      width: a.px-rem(30);
      background: a.$bg-orange;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include a.mq-up(medium) {
      margin-bottom: 3rem;
    }
  }

  &__wrapper {
    width: min(90vw, a.px-rem(1024));
    margin-inline: auto;
    display: grid;
    row-gap: a.g(xx-large);
    justify-content: center;
  }
}
