@use "../../styles/scss/abstracts/" as a;

.footer {
  background: a.$bg-footer;
  color: rgba(a.$text-white, 0.8);
  font-weight: a.fw(light);
  height: a.$height-footer;
  display: flex;
  align-items: center;

  &__content-wrapper {
    width: min(90vw, a.px-rem(1024));
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.7);
  }

  &__logo {
    font-size: a.fs(14);
    letter-spacing: a.ls(1);
  }

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  &__social-link {
    display: flex;
    align-self: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem;
    transition: all 300ms;

    &:hover {
      color: a.$text-orange;
    }
  }
}
