@use "../../styles/scss/abstracts/" as a;

.hero {
  height: 100vh;
  background: a.$bg-black;

  &__content-wrapper {
    height: 100%;
    width: min(90vw, a.px-rem(1024));
    margin-inline: auto;
    padding-block: a.$height-navbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: a.g(small);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: a.g(small);
  }

  &__name {
    font-weight: a.fw(light);
    letter-spacing: a.ls(x-small);
    color: rgba(255, 255, 255, 0.9);
  }

  &__role-title {
    line-height: 1;
    color: a.$text-white;
    font-weight: a.fw(medium);
  }

  &__role-desc {
    font-size: a.fs(13);
    font-weight: a.fw(light);
    letter-spacing: a.px-rem(0.75);
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);

    @include a.mq-up(medium) {
      font-size: a.fs(13.5);
    }
    @include a.mq-up(large) {
      font-size: a.fs(14.5);
    }
  }

  &__projects-link {
    border: a.px-rem(0.5) solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.9);
    padding: a.p(x-small) a.p(large);
    border-radius: a.br(base);
    text-transform: uppercase;
    font-size: a.fs(14);
    letter-spacing: a.ls(x-small);
    align-self: center;
    transition: all 300ms ease;

    &:hover {
      background: rgba(a.$text-white, 1);
      color: a.$text-black;
    }
  }

  &__social-links {
    padding-block: a.p(small);
    display: flex;
    align-items: center;
    gap: a.g(small);
    margin-bottom: a.m(x-large);
  }

  &__social-link {
    color: rgba(255, 255, 255, 0.9);
    font-size: a.fs(21);
    display: flex;
    align-items: center;
    transition: color 300ms ease;

    &:hover {
      color: a.$text-orange;
    }

    @include a.mq-up(medium) {
      font-size: a.fs(22);
    }
    @include a.mq-up(large) {
      font-size: a.fs(23);
    }
  }
}
