@use "../../styles/scss/abstracts/" as a;

.projects-preview {
  background: a.$bg-white;
  padding-block: a.p(xx-large);

  &__title {
    text-transform: capitalize;
    font-weight: a.fw(medium);
    text-align: center;
    color: a.$text-dark;
    letter-spacing: a.ls(xx-small);
    padding-bottom: a.p(14);
    position: relative;
    margin-bottom: a.m(x-large);

    &::after {
      content: "";
      height: a.px-rem(3);
      width: a.px-rem(30);
      background: a.$bg-orange;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    // width: min(90vw, a.px-rem(1024));
    width: min(90vw, a.px-rem(768));
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: a.g(x-large);
    justify-content: center;
  }
}
