@use "../../styles/scss/abstracts/" as a;

.project-preview {
  &__card {
    position: relative;
    box-shadow: a.px-rem(1) a.px-rem(1) a.px-rem(1) rgba(#000, 0.1);
    border: a.px-rem(0.5) solid a.$border-gray;
    width: min(90vw, a.px-rem(300));
    height: a.px-rem(200);
    margin-inline: auto;
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: a.br(medium);
    transition: all 300ms ease;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: a.br(medium);
    border-top-right-radius: a.br(medium);
  }

  &__card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000, 0.7);
    border-radius: a.br(medium);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 300ms ease;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__web-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: a.g(medium);
  }

  &__web-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: a.$text-white;
    font-size: a.fs(36);
    transition: all 300ms ease;

    &:hover {
      color: a.$bg-orange;
    }
  }

  &__title {
    text-transform: capitalize;
    color: a.$text-dark;
    font-size: a.fs(18);
    font-weight: a.fw(medium);
    letter-spacing: a.ls(xx-small);
    background: darken(a.$bg-gray, 3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// REFERENCE **********
// @use "../../styles/scss/abstracts/" as a;

// .project-preview {
//   &__card {
//     position: relative;
//     box-shadow: a.px-rem(1) a.px-rem(1) a.px-rem(1) rgba(#000, 0.1);
//     border: a.px-rem(0.5) solid a.$border-gray;
//     width: min(80vw, a.px-rem(300));
//     margin-inline: auto;
//     height: a.px-rem(200);
//     display: grid;
//     grid-template-rows: 75% 25%;
//     border-radius: a.br(medium);
//     transition: all 300ms ease;
//   }

//   &__img {
//     width: 100%;
//     height: 100%;

//     object-fit: cover;
//     object-position: center;
//     border-top-left-radius: a.br(medium);
//     border-top-right-radius: a.br(medium);
//   }

//   &__card-overlay {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background: rgba(#000, 0.7);
//     border-radius: a.br(medium);
//     display: grid;
//     place-items: center;
//     opacity: 0;
//     transition: all 300ms ease;

//     &:hover {
//       opacity: 1;
//       cursor: pointer;
//     }
//   }

//   &__web-links {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: a.g(medium);
//   }

//   &__web-link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: a.$text-white;
//     font-size: a.fs(36);
//     transition: all 300ms ease;

//     &:hover {
//       color: a.$bg-orange;
//     }
//   }

//   &__title {
//     text-transform: capitalize;
//     color: a.$text-dark;
//     font-size: a.fs(18);
//     font-weight: a.fw(medium);
//     letter-spacing: a.ls(xx-small);
//     background: darken(a.$bg-gray, 3);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }
