@use "../../styles/scss/abstracts/" as a;

.project {
  display: grid;
  justify-content: center;
  row-gap: a.g(large);

  @include a.mq-up(medium) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: a.g(large);
    row-gap: 0;
  }

  &__card {
    position: relative;
    box-shadow: a.px-rem(1) a.px-rem(1) a.px-rem(1) rgba(#000, 0.1);
    border: a.px-rem(0.5) solid a.$border-gray;
    width: min(90vw, a.px-rem(450));
    margin-inline: auto;
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: a.br(medium);
    transition: all 300ms ease;

    @include a.mq-up(medium) {
      width: min(90vw, 100%);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: a.br(medium);
    border-top-right-radius: a.br(medium);
  }

  &__card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000, 0.7);
    border-radius: a.br(medium);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 300ms ease;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__web-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: a.g(medium);
  }

  &__web-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: a.$text-white;
    font-size: a.fs(36);
    transition: all 300ms ease;

    &:hover {
      color: a.$bg-orange;
    }
  }

  &__title {
    text-transform: capitalize;
    color: a.$text-dark;
    font-size: a.fs(18);
    font-weight: a.fw(medium);
    letter-spacing: a.ls(xx-small);
    background: darken(a.$bg-gray, 3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // info

  &__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: a.g(small);
    justify-content: center;
    align-items: center;
    width: min(90vw, a.px-rem(450));

    padding-bottom: a.p(x-large);

    @include a.mq-up(medium) {
      width: min(90vw, 100%);
      justify-content: flex-start;
    }
  }

  &__info-title {
    text-align: center;
    font-weight: a.fw(light);
    color: a.$text-gray;
    letter-spacing: a.ls(xx-small);
    border-bottom: a.px-rem(0.5) solid rgba(#000, 0.3);
    padding-bottom: a.p(x-small);
    margin-bottom: a.m(base);

    @include a.mq-up(medium) {
      text-align: left;
    }
  }

  // languages

  &__languages {
    display: flex;
    gap: a.g(small);
    align-items: center;
    background: a.$bg-gray;
    padding: a.p(small);
    border-radius: a.br(base);
  }

  &__language-logo {
    height: a.px-rem(25);
    object-fit: contain;
    transform: scale(1);
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  // libraries

  &__libraries {
    display: flex;
    gap: a.g(small);
    align-items: center;
    background: a.$bg-gray;
    padding: a.p(small);
    border-radius: a.br(base);
  }

  &__library-logo {
    height: a.px-rem(25);
    object-fit: contain;
    transform: scale(1);
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  // version control and web hosting services

  &__vcwh-services {
    display: flex;
    gap: a.g(small);
    align-items: center;
    background: a.$bg-gray;
    padding: a.p(small);
    border-radius: a.br(base);
  }

  &__vcwh-service-logo {
    height: a.px-rem(25);
    object-fit: contain;
    transform: scale(1);
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
